<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.7" targetFramework="net461" />
  <package id="ILNumerics" version="4.8.0.0" targetFramework="net461" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net461" />
  <package id="IronPython" version="2.7.9" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net461" />
  <package id="MathNet.Numerics.Data.Matlab" version="4.0.0" targetFramework="net461" />
  <package id="MathNet.Numerics.Data.Text" version="4.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="YoutubeSearch.dll" version="1.1" targetFramework="net461" />
</packages>